*{
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
}


.container {
  overflow-x: auto;
  height: 100vh;
}

table {
  width: 100rem;
  box-shadow: 0 0 10px rgba( 0, 0, 0, 0.204);
  border-radius: 10px;
  border-collapse: collapse;
  margin: auto;
}

th {
  padding: 1rem;
  background-color: black;
  color: white;
  text-align: left;
}

th:first-of-type {
 border-top-left-radios: 10px;
}

th:last-of-type {
  border-top-right-radius: 10px;
}

tr:hover {
  background-color: rgba(213, 213, 213);
}

td {
  padding: 1rem;
}